<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsTestePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://filho-pc:8080/Teste/WsTeste" binding="basicHttpBinding"
                bindingConfiguration="WsTestePortBinding" contract="teste.WsTeste"
                name="WsTestePort" />
        </client>
    </system.serviceModel>
</configuration>